body {
    font: Verdana, sans-serif;
    padding: 50px;
    background-color: #35598f;
  }
  
h1 {
  color: #eeeeee;
}

.table{
  font: 14px Verdana;
}

a{
  color:antiquewhite
}

p{
  font: 24px Verdana, sans-serif;
  color: #eeeeee;
}

tr{
  font-style: bold;
  color: #05080e;
}

td{
  color: #05080e;
}