body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #35598f;
  }
  
h1 {
  color: #afafaf;
}

.container{
  display: flex;
  justify-content: flex-start;
}

.tab{
  font: 40px "Verdana", Verdana, sans-serif;
  font-style: bold;
  color:rgb(66, 66, 66);
  margin: 0 60px;
  padding: 20px;
}

.tab:hover{
  color: rgb(77, 18, 18);
}
  